<div class="container">

    <div class="aos-item" data-aos="fade-up">

        <div class="aos-item__inner">

            <div class="row margintop12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="featureheading">Order Food, Shop Online & Receive Remittance</h3>
                    <div class="bannerline"></div>
                </div>
            </div>
            <div class="row">
                <section id="dvmall3" class="variable slider">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="product-content product-fourcolumn clearfix">
                            <div class="product style2 clearfix"  >
                                <div class="">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="">
                                            <img class="sliderimg" src="assets/img/banner-6.png" alt="image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="product-content product-fourcolumn clearfix">
                            <div class="product style2 clearfix"  >
                                <div class="">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img class="sliderimg" src="assets/img/banner-7.png" alt="image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="product-content product-fourcolumn clearfix">
                            <div class="product style2 clearfix"  >
                                <div class="">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img class="sliderimg" src="assets/img/banner-8.png" alt="image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="product-content product-fourcolumn clearfix">
                            <div class="product style2 clearfix"  >
                                <div class="">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img class="sliderimg" src="assets/img/banner-5.jpg" alt="image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="product-content product-fourcolumn clearfix">
                            <div class="product style2 clearfix"  >
                                <div class="">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img class="sliderimg" src="assets/img/banner-5.jpg" alt="image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="product-content product-fourcolumn clearfix">
                            <div class="product style2 clearfix"  >
                                <div class="p">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img class="sliderimg" src="assets/img/banner-5.jpg" alt="image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>
