<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 whitebackground firstsliderright slidermargin2" style="padding: 0 0 0 0;">
    <section id="variable1" style="margin: 0 0 0 0; width: 100%;" class="variable slider">
        <div>
            <img class="sliderimageright" src="assets/img/banner-2.png">
        </div>
        <div>
            <img class="sliderimageright" src="assets/img/banner-2.png">
        </div>
        <div>
            <img class="sliderimageright" src="assets/img/banner-2.png">
        </div>
        <div>
            <img class="sliderimageright" src="assets/img/banner-2.png">
        </div>
        <div>
            <img class="sliderimageright" src="assets/img/banner-2.png">
        </div>
    </section>
</div>