<div class="backgroundGray redlinemargin">
    <div class="container">
        <button id="" class="feedback-button feedbackcolor" onclick="toggle_visibility()">Feedback</button>
        <div class="row overviewrows margintop">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <label>Orbits (Reward Points)</label>
                    <label class="overviewdetails">{{userDetails.cnic}}</label>
                </div>
                <div class="col-lg-2 col-lg-offset-3 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-1 col-xs-4">
                    <label><span>{{conventional?.conventionalAvailablePoints}}</span></label><br>
                </div>
                <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-2 displaynone ">
                    <a href="OrbitOverview-inner.html"> <button class="statementbuttons"> Orbit Overview</button></a>
                    <a href="OrbitStatement-inner.html"> <button class="Asbuttons"  > Orbit Statement</button></a>
                </div>
                <div class=" col-xs-2 largenone novector">
                    <a href="#"> <img class="showbutton" src="../assets/img/mobileArrow.png" style="width: 18px; padding: 14px 0 0 0;"> </a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="buttons" style="display: none">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="OrbitOverview-inner.html"> <button class="statementbuttons "> Orbit Overview</button></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="OrbitStatement-inner.html"> <button class="Asbuttons "  > Orbit Statement</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row overviewrows margintop">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                    <label>Orbits Islamic(Reward Points)</label><br>
                    <label class="overviewdetails">{{userDetails.cnic}}</label>
                </div>
                <div class="col-lg-2 col-lg-offset-3 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-1 col-xs-4">
                    <label><span>{{islamic?.islamicAvailablePoints}}</span></label><br>
                </div>
                <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-2 displaynone ">
                    <a href=""> <button class="statementbuttons"> Orbit Overview</button></a>
                    <a href=""> <button class="Asbuttons"  > Orbit Statement</button></a>
                </div>
                <div class=" col-xs-2 largenone novector">
                    <a href="#"> <img class="showbutton" src="../assets/img/mobileArrow.png" style="width: 18px; padding: 14px 0 0 0;"> </a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="buttons" style="display: none">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href=""> <button class="statementbuttons "> Orbit Overview</button></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href=""> <button class="Asbuttons "  > Orbit Statement</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>
