<div class="backgroundGray Cardpaybackground redlinemargin redlinemargin">
    <div class="container">
        <button id="" class="feedback-button feedbackcolor" onclick="toggle_visibility()">Feedback</button>
        <div class="row overviewrows padding10">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cardsummarybackgroundGray accounts">
                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 textboxmargin mbtextboxspace">
                        <div class="form-item">
                            <p class="formLabel">Account</p>
                            <select name="Category" class="form-style">
                                <option value="none" selected="" disabled=""></option>
                                <option value="Option 1">0005123456789</option>
                                <option value="Option 2">0005123547896</option>
                            </select>
                        </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 textboxmargin textcenter width24" style="border-right: 1px solid #c0bfbf">
                        <label>Available Limit</label><br>
                        <span class="font25">50,000</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 textboxmargin textcenter width24" style="border-right: 1px solid #c0bfbf">
                        <label>Available Limit</label><br>
                        <span class="font25">70,000</span>
                    </div>
                   </div>
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 novector">
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-5 paddingtop65">
                        <span class="UtilizedColor"></span>
                        <span class="Utilizedtext">Utilized</span>
                        <span  class="AvailableColor"></span>
                        <span class="Availabletext">Available</span>
                       <!--  <p class="UtilizedColor">Utilized</p>
                        <p  class="AvailableColor">Available</p> -->
                    </div>
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7 ">
                    <p class="utilizedtext">Utilized</p>
                    <canvas id="canvas" class="mbchart chartsize"></canvas>
                 </div>
                </div>  
                    </div>
                 </div>
        
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paddingtop10">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 cardsummartwhitebox">
                    <img class="cardsummaryimage" src="../assets/img/amountdue.png">
                    <p class="SliderP">Total Amount Due</p>
                    <p class="featureredheading" style="color: #d9291c;">25,000</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 cardsummartwhitebox">
                    <img class="cardsummaryimage" src="../assets/img/duedate.png">
                    <p class="SliderP ">Due Date</p>
                    <p class="featureredheading DueDate" style="color: #d9291c;">12/06/2019</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 cardsummartwhitebox">
                    <img class="cardsummaryimage" src="../assets/img/outstanding.png">
                    <p class="SliderP">Outstanding Amount</p>
                    <p class="featureredheading" style="color: #d9291c;">35,000</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="backgroundGray nomargin">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 accounts">
            <table class="generaltable">
                <thead>
                    <tr>
                        <td>Current Balance</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Credit Limit</td>
                        <td>-1,000.00</td>
                    </tr>
                    <tr>
                        <td>Available Credit Limit</td>
                        <td>-1,000.00</td>
                    </tr>
                    <tr>
                        <td>Total Cash Advance Limit</td>
                        <td>-1,000.00</td>
                    </tr>
                    <tr>
                        <td>Available Cash Advance Limit</td>
                        <td>-300.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Account Balance</td>
                        <td>30,000</td>
                    </tr>
                </tfoot>
            
            </table>
        </div>
    </div>
</div>
