<div class="row grayrow">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 largenone">
           <a href="#"> <img class="logo" src="assets/img/Logo.png"></a>
            <label class="Welcome welcomesize mbwelcome"> Welcome to <span>Alfa Web</span></label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 Welcome welcomesize displaynone">
            <label class="welcomemargin"> Welcome to <span>Alfa Web</span></label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 Welcome  displaynone">
            <mark>UAN-111-225-111</mark>
            <a href="https://alfamall.com/" class="Welcome landscapenopaading"> Alfa Mall </a>
            |
            <a href="#" class="Welcome landscapenopaading">Dam Fund</a>
            |
            <a href="#" class="Welcome landscapenopaading">Online Shopping</a>
            |
            <a href="Security.html" class="Welcome landscapenopaading">Security Awareness</a>
        </div>
    </div>
</div>
