<section>
    <div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-md-offset-1">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mbpadding">
                    <nav id="navbar-primary" class=" " role="navigation">
                        <div class="" id="navbar-primary-collapse">
                            <ul class="nav navbar-nav mbnomargin">
                                <li><a routerLink="updateprofile" routerLinkActive="tabunderline"  class=" font10 paddingmyprofile">Update Profile</a>
                                </li>
                                <li><a routerLink="loginactivity" routerLinkActive="tabunderline"  class="font10 paddingmyprofile">Login Activity</a></li>
                                <li><a routerLink="useractivity" routerLinkActive="tabunderline"  class="font10 paddingmyprofile">User Activity</a></li>
                                <li><a routerLink="changepassword" routerLinkActive="tabunderline"  class="font10 paddingmyprofile">Change Password</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-7 col-sm-7 col-xs-12 col-md-offset-1">
         
            <router-outlet></router-outlet>
   
        </div>
    </div>
</section>
