<!-- <div class="backgroundGray displaynone">

    <div class="container">

        <div class="aos-item" data-aos="fade-down">
            <div class="aos-item__inner">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="featureheading">Our Featured Services</h3>
                        <div class="featureline"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <section id="dvfeature" class="regular slider">
                            <div class="aos-item" data-aos="zoom-out-down">
                                <div class="aos-item__inner">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 boxwhite">
                                        <h4 class="featureredheading"><a href="#" style="color: #d9291c;"> Fee Payments</a>
                                        </h4>
                                        <div class="sliderline"></div>
                                        <p class="SliderP">Pay University/School Fees</p>
                                        <img class="margin-34" src="assets/img/Featured/7.png">
                                        <img class="line" src="assets/img/line.png">
                                
                                    </div>
                                </div>
                            </div>
                            
                            <div class="aos-item" data-aos="zoom-out-down">
                                <div class="aos-item__inner">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 boxwhite">
                                        <h4 class="featureredheading"><a href="#" style="color: #d9291c;">Utility Bills</a> </h4>
                                        <div class="sliderline"></div>
                                        <p class="SliderP">Pay your utitlity bills</p>
                                        <a href="BuyTickets/Bus/busticket.html" style="padding:0;">
                                            <img class="margin-34" src="assets/img/Featured/5.png">
                                        </a>
                                        <img class="line" src="assets/img/line.png">
                                    </div>
                                </div>
                            </div>

                            <div class="aos-item" data-aos="zoom-out-down">
                                <div class="aos-item__inner">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 boxwhite">
                                        <h4 class="featureredheading"><a href="#" style="color: #d9291c;"> Discount Offers</a> </h4>
                                        <div class="sliderline"></div>
                                        <p class="SliderP">Exclusive discounts on credit card</p>
                                        <img class="margin-34" src="assets/img/Featured/8.png">
                                        <img class="line" src="assets/img/line.png">
                                    </div>
                                </div>
                            </div>

                            <div class="aos-item" data-aos="zoom-out-down">
                                <div class="aos-item__inner">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 boxwhite">
                                        <h4 class="featureredheading"><a href="#" style="color: #d9291c;"> Tax Payments</a>
                                        </h4>
                                        <div class="sliderline"></div>
                                        <p class="SliderP">Provincial Tax Payments</p>
                                        <a href="https://www.bankalfalah.com/personal-banking/cards/privileges-discounts/discounts" style="padding:0;">
                                            <img class="margin-34" src="assets/img/Featured/6.png">
                                        </a>
                                        <img class="line" src="assets/img/line.png">
                                    </div>
                                </div>
                            </div>

                            <div class="aos-item" data-aos="zoom-out-down">
                                <div class="aos-item__inner">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 boxwhite">
                                        <h4 class="featureredheading"><a href="#" style="color: #d9291c;">Utility Bills</a> </h4>
                                        <div class="sliderline"></div>
                                        <p class="SliderP">Pay your utitlity bills</p>
                                        <a href="BuyTickets/Bus/busticket.html" style="padding:0;">
                                            <img class="margin-34" src="assets/img/Featured/5.png">
                                        </a>
                                        <img class="line" src="assets/img/line.png">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div> -->
<div class="backgroundGray displaynone">
    <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="featureheading">Our Featured Services</h3>
                        <div class="featureline"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <section class="regular slider">  
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" >
                            <div ngxSlickItem *ngFor="let slide of slides">                 
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 boxwhite">         
                                        <h4 class="featureredheading"><a href="#" style="color: #d9291c;"> {{slide.heading}}</a>
                                        </h4>
                                        <div class="sliderline"></div>
                                        <p class="SliderP">{{slide.subHeading}}</p>
                                        <a href="https://www.bankalfalah.com/personal-banking/cards/privileges-discounts/discounts" 
                                        style="padding:0;">
                                            <img class="margin-34" src={{slide.img1}}>
                                        </a>
                                        <img class="line"  src={{slide.img2}}>
                                    </div>
                             </div>   
                            </ngx-slick-carousel>                         
                        </section>
                    </div>
                </div>

         
    

    </div>
</div>
