<div class="backgroundGray Cardpaybackground landscapewhite redlinemarginothers">
    <div class="container mbpadding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 payeeoverviewrows top40">
            <article class="tabbed-content">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 centerTab">
                        <nav class="tabs bordernav">
                            <ul class="paddingzero navsytle">
                                <li><a routerLink="manageaccount"  routerLinkActive="active" class="navsytle font10">Manage Account</a></li>
                                <li><a routerLink="usermanagement" routerLinkActive="active" class="navsytle font10">User Management</a></li>
                                <li><a routerLink="changepackage"  routerLinkActive="active" class="font10">Change Package</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </article>
        </div>
    </div>
</div>
