<div class="backgroundGray Cardpaybackground landscapewhite redlinemarginothers">
    <div class="container mbpadding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 payeeoverviewrows top40">
            <article class="tabbed-content">
                <div class="row" style="padding-left: 40px;"> 
                    <h3>Change Password</h3>
                </div>

               <form #form="ngForm" (ngSubmit)="submit(form)">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="row" style="padding-left: 10px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 textboxmargin mbtextboxspace">
                            <div class="form-item">
                                <p class="formLabel">Current Password</p>
                                <input type="password" name="currentpassword" ngModel class="form-style" required="required" />
                                <p style="text-align:center;color: #d9291c;" id="p1"></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 textboxmargin mbtextboxspace">
                            <div class="form-item">
                                <p class="formLabel">New Password</p>
                                <input type="password"  name="newpassword" ngModel class="form-style" required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 10px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  mbtextboxspace">
                            <!-- <input type="submit" id="btnproceed" class="redbutton paynow" value="Confirm" style="margin-top: 20px;"> -->
                            <button  class="redbutton paynow"  style="margin-top: 20px;">Confirm</button>
                        </div>
                    </div>
                    
                    
                    <!-- <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 dashed dashplace displaynone"></div> -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mbtextboxspace">
                        <p style="text-align:justify;">Your password must comprise of minimum 8 characters & should contain numeric, uppercase, lowercase and special characters.
                            You cannot keep your previous five passwords as your current password
                        </p>
                    </div>
                </div>

            </form>
            </article>
        </div>
 
    </div>
</div>
<br>
