<div class="backgroundGray Cardpaybackground landscapewhite redlinemargin">
    <div class="container">
        <button id="" class="feedback-button feedbackcolor" onclick="toggle_visibility()">Feedback</button>
        <p class="popupmargin"><a routerLink="/overview" style="color: #b4b4b4;">Account</a> <span>>></span><a href="../Account/Accountstatement.html" style="color: #b4b4b4;">Account Statement</a> </p>
        <div class="row overviewrows">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <form #f="ngForm" (ngSubmit)="submit(f)">
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 textboxmargin mbtextboxspace">
                       


                        <div class="form-item">
                            <p class="formLabel"></p>
                            <select name="accountNumber"  class="form-style" ngModel>
                                <option value="" >Select Account</option>
                                <option [value]="accountlist.accountNumber" *ngFor="let accountlist of http$ | async">{{accountlist.accountNumber}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 textboxmargin mbtextboxspace">
                        <div class="form-item">
                            <!-- <p class="formLabel">From</p> -->
                            <input type="date" name="fromDate" ngModel class="form-style" id="date-1" required="required" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 textboxmargin mbtextboxspace">
                        <div class="form-item">
                            <!-- <p class="formLabel">To</p> -->
                            <input type="date" name="toDate" ngModel class="form-style" id="date-2" required="required" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 textboxmargin mbtextboxspace">
                        <!-- <input type="submit" class="redbutton generate" id="generate" value="Generate" name=""> -->
                        <button type="submit" class="redbutton generate" id="generate">Generate</button>
                        <!--   <a href="#" id="generate"> <img class="accountgeneratebutton" src="../assets/img/minigenerate.png"> </a> -->
                    </div>
                    <p>{{f.value | json}}</p>
                </form>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 displaynone novector">
                    <img class="calender" src="../assets/img/vector-img/calendar.png">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tableaccount" class="backgroundGray Cardpaybackground landscapewhite redlinemargin" >
    <div class="container mbpadding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 accounts">
            <div class="table-responsive">
                <table class="generaltable " *ngIf="(sumary$ | async) as data">
                    <thead>
                        <tr>
                            <td>Booking Date</td>
                            <td>Description</td>
                            <td>Debit Amount</td>
                            <td>Credit Amount</td>
                            <td>Balance</td>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td></td>
                            <td>OpeningBalance</td>
                            <td></td>
                            <td></td>
                            <td>{{data.dtStatement.openingBalance}}</td>   
                        </tr>
                        <tr *ngFor="let item of data.dtStatement.transaction">
                            <td>{{item.date}}</td>
                            <td>{{item.transactionReference}} {{item.transactionNarrative}}</td>
                            <td>{{item.debitAmount}}</td>
                            <td>{{item.creditAmount}}</td>
                            <td>{{item.runningBalance}}</td>
                        </tr>
                        <!-- <tr>
                            <td>10-04-2019</td>
                            <td>ATM CW</td>
                            <td>11000</td>
                            <td>1000</td>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <td>15-05-2019</td>
                            <td>ATM CW</td>
                            <td>5000</td>
                            <td>1000</td>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <td>20-08-2019</td>
                            <td>ATM CW</td>
                            <td>3000</td>
                            <td>1000</td>
                            <td>1000</td>
                        </tr> -->
                        </tbody>
                    <tfoot>
                        <tr>
                            <td>Amount</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{data.dtStatement.closingBalance}}</td>
                        </tr>
                    </tfoot>
                   
                </table>
            </div>
            <button class="accountstatementbuttons"  >Print </button>
            <button class="accountstatementbuttons" > Save As Excel</button>
            <button class="accountstatementbuttons"  > Save As PDF</button>
        </div>
    </div>
</div>

