<footer>
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-copy-right">
                        <span>Copyright © <script>
                                new Date().getFullYear() > 2010 && document.write(new Date().getFullYear());
                            </script> Bank Alfalah All Rights Reserved</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer-copy-right">
                        <span><a href="Disclaimer.html">Disclaimer</a> | <a href="Privacy.html">Privacy &
                                Security</a> |<a href="Contactus.html"> Contact
                                Us</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
