<form #form="ngForm" (ngSubmit)="submit()">
    <div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 textboxmargin mbtextboxspace">
    <div class="form-item">
        <p class="formLabel">Old Password</p>
        <input type="password" name="oldPassword" required  #olp="ngModel"  [(ngModel)]="model.oldPassword"
         class="form-style"/>
         <span *ngIf="olp.touched && !olp.valid">
         <span *ngIf="olp.errors?.required">OldPassword is required field</span>
         </span>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 textboxmargin mbtextboxspace">
    <div class="form-item">
        <p class="formLabel">New Password</p>
        <input type="password" name="newPassword"   #np="ngModel"  required [(ngModel)]="model.newPassword" 
        class="form-style"  />
        <span *ngIf="np.touched && !np.valid">
          <span *ngIf="np.errors?.required">Password is required field</span>
        </span>
    </div>
</div>
</div>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
    <div class="form-item">
        <p class="formLabel">Confirm Password</p>
        <input type="password" name="confirmPassword" #cnp="ngModel" required pattern="{{model.newPassword}}" 
        [(ngModel)]="model.confirmPassword" class="form-style" />
        <span *ngIf="cnp.touched && !cnp.valid">
            <span *ngIf="cnp.errors?.required">Password is required field</span>
            <span *ngIf="cnp.errors?.pattern">ConfirmPassword and Password does not match</span>
        </span>
    </div>
</div>
<div class="col-lg-6 col-md-16 col-sm-6 col-xs-12 textboxmargin mbtextboxspace">
    <input type="submit" [disabled]="!form.valid" id="btnproceed" class="redbutton paynow " value="Confirm" name="">
</div>
</div>
</form>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding16">
    <p>Your password must comprise of minimum 8 characters & should contain numeric, uppercase, lowercase and special characters.
        You cannot keep your previous five passwords as your current password
    </p>
</div>


