<div class="container-fluid  largenone novector">
    <!-- Simulate a smartphone / tablet look -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
            <!-- Top Navigation Menu -->
            <div class="topnav">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 paddingzero">
                    <img class="mobilealfaweb" src="assets/img/Alfaweb.png">
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 loginoption addpadding">
                    <div class="mbwelcome" id="myLinks">
                        <div id="showMenu">
                            <div class="one"></div>
                            <div class="two"></div>
                            <div class="three"></div>
                        </div>
                        <!--  <a href="#" id="showMenu" class="lines"></a> -->
                    </div>
                </div>
            </div>
            <!-- End smartphone / tablet look -->
        </div>
    </div>
</div>
<div class="row bgImage displaynone">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  displayinline displayinlinemenu">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <a routerLink="/overview/overview-tabs" class="displayinline size onhover">
                <div class="animateMenu">
                    <img class="RedIcons " src="assets/img/redMenu/report-lg.png">
                    <span> Overview</span>
                </div>
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <a href="transfer/BankAlfalah/myAccount.html" class="displayinline size">
                <div class="animateMenu">
                    <img class="RedIcons " src="assets/img/redMenu/transfer-lg.png">
                    <span style="line-height: 1.1;"> Send Money</span>
                </div>
            </a>
        </div>
        
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <a href="mobiletopup.html" class="displayinline nopadding size">
                <div class="animateMenu">
                    <img class="RedIcons" src="assets/img/redMenu/topup-lg.png">
                    <span style="line-height: 1.1;"> Mobile TopUp</span>
                </div>
            </a>
        </div>
        
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <a href="utility/utilityelectricity.html" class="displayinline size ">
                <div class="animateMenu">
                    <img class="RedIcons " src="assets/img/redMenu/utility-lg.png">
                    <span style="line-height: 1.1;"> Utility Bill Payments </span>
                </div>
            </a>   
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <a href="Card2/card2payment.html" class="displayinline size">
                <div class="animateMenu">
                    <img class="RedIcons " src="assets/img/redMenu/card-lg.png">
                    <span style="line-height: 1.1;"> Credit Card Management</span>
                </div>
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <a href="fees/school/schoolfees.html" class="displayinline size">
                <div class="animateMenu">
                    <img class="RedIcons " src="assets/img/redMenu/school-lg.png">
                    <span style="line-height: 1.1;"> Fee Payment</span>
                </div>
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <a href="BuyTickets/Bus/busticket.html" class="displayinline size">
                <div class="animateMenu">
                    <img class="RedIcons " src="assets/img/redMenu/Ticket-lg.png">
                    <span>Buy Tickets</span>
                </div>
            </a>
        </div>
        
        
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <a href="valueaddedservices/BankerCheque/cheque.html" class="displayinline nopadding size">
                <div class="animateMenu">
                    <img class="RedIcons" src="assets/img/redMenu/VAS-lg.png">
                    <span style="line-height: 1.1;"> Value Added Services</span>
                </div>    
            </a>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

            <a href="DebitCardManagement/Changepin.html" class="displayinline size">
                <div class="animateMenu">
                    <img class="RedIcons " src="assets/img/redMenu/card-management-lg.png">
                    <span style="line-height: 1.1;">Debit Card Management </span>
                </div>
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <!--  <span> <a href="#" >More</a> </span>   -->
            <div class="moretext">
                <a href="#" class=" dropdown-toggle size displayinline" data-toggle="dropdown"> 
                    <img class="more"  src="assets/img/redMenu/more.png"><span>&nbsp; More &nbsp;</span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="Loan/Myloan.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/1.png">Loan
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="AddPayee/APMobile.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/2.png">Payees
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="net/internet.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/3.png">Internet
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="gift/gift.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/4.png">Gift Voucher
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="orbits/overview.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/6.png">Orbits
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="Courier/Clogin.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/7.png">Courier Tracking
                            </div>
                        </a>
                    </li>
                    <li>                            
                        <a href="Tax/tax.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/8.png">Tax Payment
                            </div>        
                        </a>
                    </li>
                    
                    <li>
                        <a href="E-IPO/EIPO.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/10.png">E-IPO
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="EOBI.EOBI.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/11.png">EOBI
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="Investment/summary.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/12.png">Investment
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="donation/donation.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/13.png">Donation
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="shopping/shopping.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/14.png">Shopping
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="others/others.html">
                            <div class="animateMoreMenu">
                                <img class="morepadding" src="assets/more/15.png">Other
                            </div>
                            
                        </a>
                    </li>
                    <li><a href="request/request.html"><img class="morepadding" src="assets/more/16.png">Request</a></li>
                    <!--  <li><a href="../Alfa_Web4/AddPayee/APMobile.html"><img class="" src="assets/more/2.png">Tax Payment</a></li>
                    
                    <li><a href="#"><img class="dropdownicons" src="assets/icons/loan.png">Loan</a></li> -->
                </ul>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
</div>
<div class="container-fluid  largenone margin12 novector"   id="">
    <div class="row mobilebackground">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div>
                <div class="row mbborder mbloginrow">
                    <a href="#" class="mobilemenu size openaccount"><img class="" src="assets/icons/1.png"> <span> Open
                            Alfa
                            Account</span></a>
                    <a href="terms.html" class="mobilemenu sizer"><img class="" src="assets/icons/2.png"> <span> Register Now</span></a>
                    <a href="#" id="" class="mobilemenu size log-in"><img class="" src="assets/icons/3.png"><span>Login</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid  largenone margin12 nodisplay" style="display: none;" id="mobilemenu">
    <div class="row mobilebackground ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div>
                <div class="row mbborder">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="Account/AccountOverview.html" class="mobilemenu size margin5" style="color: #000"><img class="" src="assets/img/mobilemenuicons/report.png">
                            <span>Overview</span></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder"  >
                        <a href="mobiletopup.html" class="mobilemenu size margin5" style="color: #000"> <img class="displayinline" src="assets/img/mobilemenuicons/topup.png">
                            <span> Mobile Topup</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="BuyTickets/Bus/busticket.html" class="mobilemenu size margin5" style="color: #000"><img class="" src="assets/img/mobilemenuicons/ticket.png">
                            <span> Buy Tickets </span></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="transfer/BankAlfalah/myAccount.html" class="displayinline size margin5" style=" color: #000"> <img class="" src="assets/img/mobilemenuicons/transfer.png">
                            Send Money</a>
                    </div>
                </div>
                <div class="row mbborder">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="utility/utilityelectricity.html" class="displayinline size margin5" style=" color: #000"> <img class="" src="assets/img/mobilemenuicons/utility.png">
                            Utility</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="Card2/card2payment.html" class="displayinline size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/card.png"> card</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="fees/school/schoolfees.html" class="mobilemenu size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/school.png">
                            <span>Fee Payment</span></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="Tax/tax.html" class="mobilemenu size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/tax.png">
                            <span> Tax Payment</span></a>
                    </div>
                </div>
                <div class="row mbborder">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="orbits/overview.html" class="displayinline size margin5" style=" color: #000"> <img class="" src="assets/img/mobilemenuicons/orbit.png">
                            Orbits</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="donation/donation.html" class="mobilemenu size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/donation.png"> Donation</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="Loan/Myloan.html" class="displayinline size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/loan.png">
                            Loan</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="AddPayee/APMobile.html" class="displayinline size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/payee.png">
                            Payee</a>
                    </div>
                </div>
                <div class="row mbborder">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="Investment/summary.html" class="mobilemenu size margin5" style=" color: #000"> <img class="" src="assets/img/mobilemenuicons/Investment.png">
                            Investment </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="net/internet.html" class="mobilemenu size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/net.png">
                            <span>Internet Payment</span></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="gift/gift.html" class="mobilemenu size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/gift.png">
                            <span>Gift Voucher</span></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="Courier/Clogin.html" class="mobilemenu size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/2.png">
                            <span>Courier Tracking</span></a>
                    </div>
                </div>
                <div class="row mbborder">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="valueaddedservices/BankerCheque/cheque.html" class="mobilemenu size margin5" style=" color: #000"> <img class="" src="assets/img/mobilemenuicons/10.png">
                            <span >Value Added Services </span></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="shopping/shopping.html" class="displayinline size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/13.png"> Shopping</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="#" class="displayinline size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/3.png"> IPS</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="E-IPO/EIPO.html" class="displayinline size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/4.png"> E-IPO</a>
                    </div>
                </div>
                <div class="row mbborder">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="DebitCardManagement/Changepin.html" class="mobilemenu size margin5" style=" color: #000"> <img class="" src="assets/img/mobilemenuicons/18.png">
                            <span>Debit Card Management </span></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="others/others.html" class="displayinline size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/17.png"> Others</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="EOBI/EOBI.html" class="displayinline size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/19.png"> EOBI</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mbleftborder mbrightborder">
                        <a href="#" class="displayinline size margin5" style="color: #000"> <img class="" src="assets/img/mobilemenuicons/12.png"> Request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
