<div class="container">
    <div class="row" style="padding-top: 30px;">
       
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div style="text-align: center;">
                <h2>Sorry, this page is'nt available.</h2>
                <p>The link you followed may be broken, or the page may have been removed.</p>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-xs-12" style="padding-top: 20px;">
            <div style="text-align: center;">
                <img src="assets/img/404.png" style="width: 200px; height: auto; " >
            </div>
        </div>

    </div>
</div>

