

    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a routerLink="" class="largenone displaylandscape" >
                    <img style="float: right;padding-top: 10px;" src="assets/icons/close.png"  >
                </a>
                <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
                          
                    <div class="form-row">
                        <h3 class="qrheading">Login to continue</h3>
                        <div class="popupline" ></div>
                         <div class="textboxmargin mbtextboxspace">
                         <div class="form-item">
                            <p class="formLabel">Username</p>
                            <input type="text" formControlName="uname"  class="form-style" />
                        </div>
                        
                    </div>
                    <div class="textboxmargin mbtextboxspace">
                         <div class="form-item">
                            <p class="formLabel">Password</p>
                            <input type="password"  formControlName="password" class="form-style" />
                        </div>
                    </div>
                 
                        <button class="redbutton login">Login</button>
                        <span> <a href="#" class="FP"> Forgot password?</a></span>



                        
                        <div class="dashed displaynone novector popupmargintop"></div>
                        <a href="#"> <button class="signup"> Sign up</button></a>
                        <p class="newWeb"> <span>New to Alfa Web?</span> </p>
                       <p style="margin-top: -10px;">Sign up takes less than a minute</p>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 qrbackground displaynone landscapenone" style="text-align: center;margin-top: 3%;">
 
                <div style="margin-top: 5%;">
                   <div class="banner-heading"><img class="qrimg" src="assets/img/alfa-logo.png"></div> 
                   <div style="padding: 5%;"><img src="assets/img/Alfaweb.png"></div>
                </div>
                
            </div>
        </div>
    </div>
             
<br/>
<br/>
<br/>


