<section id="tab1" class="item active">
    <div class="item-content">
        <div class="spacing" id="content-1">
            <div id="content-1-1">
                <div class="col-lg-7 col-md-8 col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <nav id="navbar-primary" class=" " role="navigation">
                                <div class="" id="navbar-primary-collapse">
                                    <ul class="nav navbar-nav padding22">
                                        <li><a routerLink="addaccount" routerLinkActive="tabunderline" class="font10">Add Account</a>
                                        </li>
                                        <li><a routerLink="removeaccount" routerLinkActive="tabunderline" class="font10">Remove Account</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>    
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>